::selection{background:inherit;color:#c40029;}
::-moz-selection{background:inherit;color:#c40029;}

a,a:visited{transition:0.2s ease-in-out;}
table {border-collapse:collapse; border:1px solid grey; min-width: 100%}
table td {border-bottom: 1px solid grey; text-align: center;}
table td ul,
table td ol {margin: 0px; padding: 0px;}
table td li {display: block;}

div.lastUpdated {display:block; float:right; font-size:150%;}

body {margin: 0px;}
header nav { text-align: right; background-color: lightgrey; padding: 1ex; }
header nav a {color: black;}

.type {padding: 2px;}
.type.none{display:none;}
.type.bug{background-color:#a8b820}
.type.dark{background-color:#705848}
.type.dragon{background-color:#7038f8}
.type.electric{background-color:#f8d030}
.type.fairy{background-color:#ee99ac}
.type.fighting{background-color:#c03028}
.type.fire{background-color:#f08030}
.type.flying{background-color:#a890f0}
.type.ghost{background-color:#705898}
.type.grass{background-color:#78c850}
.type.ground,
.type.earth{background-color:#e0c068}
.type.ice{background-color:#98d8d8}
.type.normal{background-color:#a8a878}
.type.poison{background-color:#a040a0}
.type.psychic{background-color:#f85888}
.type.rock{background-color:#b8a038}
.type.steel{background-color:#b8b8d0}
.type.unknown{background-color:#98c4b8}
.type.water{background-color:#6890f0}
.type.faith{background-color:#f8b010}
.type.wind{background-color: #d8e030}
.type.dream{background-color: #a8a878;}
.type.beast{background-color: #b8a038;}